*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
canvas {
    /* display: block; */
    border: 5px solid lightgray;
    margin-left: 5px;
}
.options-cont{
    height:4rem;
    width:3.5rem;
    background-color: #f1f2f6;
    position:absolute;
    top:2rem;
    left:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.toolbar {
    border: 1px solid lightgray;
    border-radius:4px;
    height: 5rem;
    width: 50rem;
    background-color: #f1f2f6;
    /* margin: 1rem auto; */
    position:absolute;
    top:2rem;
    left:25vw;
    display:none;
    justify-content: space-evenly;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.scale-tools{
    animation-name: scale-tools;
    animation-duration:1s;
}
@keyframes scale-tools {
    0%{
       transform: scale(0.1); 
    }
    100%{
        transform: scale(1);
    }
}

.tool-image {
    
    height: 50px;
}

.color-container {
    border: 2px solid gray;
    border-radius:3px;
    width: 190px;
    height:50px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;          
}
.color{
    height:40px;
    width:40px;
    border-radius:50%;
}
.red{
    background-color: lightpink;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.black{
    background-color: black;
}

.fa-solid{
    font-size: 50px;
}
.size-box{
    height:40px;
    width:120px;
    border: 1px solid gray;
    display:none;
    justify-content:space-evenly;
    align-items:center;
}

.size{
    border-radius:50%;
    background-color: lightsteelblue;
}

.size1{
    height:12px;
    width:12px;
}
.size2{
    height:16px;
    width:16px;
}
.size3{
    height:20px;
    width:20px;
}
.size4{
    height:24px;
    width:24px;
}
.sticky{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:200px;
    position: absolute;
    top:15rem;
    left:10rem;
}
.upload{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:200px;
    position: absolute;
    top:15rem;
    left:80rem;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:200px;
    height:30px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.minimize{
    height:15px;
    width:15px;
    background-color: lightgreen;
    border-radius: 50%;
    margin-right:5px;
}
.close{
    height:15px;
    width:15px;
    background-color: lightcoral;
    border-radius: 50%;
    margin-right:5px;
    
}
.textarea{
    width:97%;
    border:none;
    outline:none;
    border-top:3px solid gray;
    height:500;
    resize: none;
}
.upload-img{
    height: 100%;
    width: 100%;
}